/*Centre the menubar, make menubar words bold*/
/* #00205B, #B89D18, #437C90, #CDD3D5, #D6EEFF */
/*Surrey blue, Surrey gold, teal, silver, cloud blue*/

/* Customises the background*/
body {
  background-color:#D6EEFF;
}

/*Customises the heading 1*/
h1 {
  text-align:center; font-family:Tahoma; font-size: 40px; color:#003fb3;
}

/*Customises the heading 2*/
h2 {
  text-align:center; font-family:Calibri; font-size: 20 px; color:#003fb3;
}

/*Customises the heading 3*/
h3 {
  text-align:left; font-family:Calibri; font-size: 16 px; color:#003fb3;
}

h4 {
  text-align:center; font-family:Tahoma; font-size: 36px; color:#003fb3 
 }

/* Customises the paragraph section */
p {
  text-align:justify; font-family: Arial; font-size: 16px;
 color:black;
}

/* Customises the list section */
ul {
  list-style-type: square; font-family: Arial; font-size: 14px; color:black;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  background-color: #002d82;
  align-items: center;
}

/* Links inside of navbar */
.navbar a {
  float: left;
  text-align: center;  
  font-size: 15px;
  color: white;
  padding: 15px 89.8px;
  text-decoration: none;
  font-family: Arial;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #B89D18;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;  
  color: white;
  padding: 15px 89.8px;
  background-color: #002d82;
  text-decoration: none;
  font-family: Arial;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #B89D18;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #437C90;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #CDD3D5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the search box */
.mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
} 
